<h2 mat-dialog-title>{{msg["advancedSearch"]}}</h2>
<div mat-dialog-content>
  <div class="row1">
    <div class="col-md-12">
      <mat-label><b>keyword</b></mat-label>
    </div>
  </div>
  <div class="col-md-6">
    <input class="form-control" id="keyword" placeholder="" [(ngModel)]="filters.keyword">
  </div>
  <div class="col1">
    <div class="col-md-12">
      <mat-label><b>{{msg["pricesRange"]}}</b></mat-label>
    </div>
    <div class="col-md-6">
      <input type="number" class="form-control" id="minPrice" placeholder="min" [(ngModel)]="filters.minPrice">
    </div>
    <div class="col-md-6">
      <input type="number" class="form-control" id="maxPrice" placeholder="max" [(ngModel)]="filters.maxPrice">
    </div>
  </div>
  <div class="col2">
    <div class="col-md-12">
      <mat-label><b>{{msg["datesRange"]}}</b></mat-label>
    </div>
    <div class="col-md-6">
      <input type="date" class="form-control" id="minDate" placeholder="min" [(ngModel)]="filters.minDate">
    </div>
    <div class="col-md-6">
      <input type="date" class="form-control" id="maxDate" placeholder="max" [(ngModel)]="filters.maxDate">
    </div>
  </div>
</div>
<div mat-dialog-actions class="actions_buttons">
  <button mat-flat-button color="accent" class="search-button" type="submit" [mat-dialog-close]="filters">
    {{msg["search"]}}
  </button>
  <button mat-stroked-button color="warn" (click)="onNoClick()" class="save-button">{{msg["close"]}}</button>

</div>
<div class="mdc-dialog__scrim"></div>