<mat-spinner *ngIf="dataSource == null" diameter="35" class="spinner"></mat-spinner>
<div *ngIf="dataSource != null">

    <h4 class="forms__title">{{msg["all-trips"]}}</h4>
    <mat-spinner *ngIf="showSpiner" diameter="35"></mat-spinner>
    <table mat-table [dataSource]="dataSource">

        <ng-container matColumnDef="ticker">
            <th mat-header-cell *matHeaderCellDef> {{msg["ticker"]}} </th>
            <td mat-cell *matCellDef="let trip"> {{trip.ticker}} </td>
        </ng-container>

        <ng-container matColumnDef="title">
            <th mat-header-cell *matHeaderCellDef> {{msg["title"]}} </th>
            <td mat-cell *matCellDef="let trip"> {{trip.title}} </td>
        </ng-container>

        <ng-container matColumnDef="price">
            <th mat-header-cell *matHeaderCellDef> {{msg["price"]}} </th>
            <td mat-cell *matCellDef="let trip"> {{trip.price}} </td>
        </ng-container>

        <ng-container matColumnDef="startDate">
            <th mat-header-cell *matHeaderCellDef> {{msg["startDate"]}} </th>
            <td mat-cell *matCellDef="let trip"> {{trip.startDate | date:"MM/dd/yy - hh:mm"}} </td>
        </ng-container>

        <ng-container matColumnDef="endDate">
            <th mat-header-cell *matHeaderCellDef> {{msg["endDate"]}} </th>
            <td mat-cell *matCellDef="let trip"> {{trip.endDate | date:"MM/dd/yy - hh:mm"}} </td>
        </ng-container>

        <ng-container matColumnDef="description">
            <th mat-header-cell *matHeaderCellDef> </th>
            <td mat-cell *matCellDef="let trip; let i = index">
                <div *ngIf="(checkDate(trip.startDate))">
                    <button mat-raised-button color="primary" [disabled]="trip.isCancelled" type="button"
                        class="buttons" [disabled]="trip.isPublished">
                        <mat-icon>edit</mat-icon>
                    </button>
                    <button mat-raised-button color="warn" [disabled]="(trip.isCancelled || !trip.isPublished)"
                        type="button" class="buttons"(click)="onCancel(trip, i)" >
                        <mat-icon>clear</mat-icon>
                    </button>
                    <button mat-raised-button color="accent" type="button" class="buttons" (click)="deleteTrip(trip)">
                        <mat-icon>delete_forever</mat-icon>
                    </button>
                </div>
            </td>
        </ng-container>

        <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
        <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
    </table>

    <mat-paginator [pageSizeOptions]="[5, 10, 20]" showFirstLastButtons></mat-paginator>

</div>