<!-- New trip button -->
<button mat-raised-button color="accent" type="button" class="card_button" (click)="newTrip();" *ngIf="isManager">
  {{msg["newTrip"]}}
</button>

<div class="content" *ngIf="data != undefined && data.length > 0">
  <div class="trip-card" *ngFor="let trip of data">
    <div *ngIf="this.displayTrip(trip)" class="card mb-3 ml-4 " infiniteScroll (scrolled)="onScrollDown()"
      (scrolledUp)="onScrollUp()">

      <!-- Cards-->
      <mat-card class="mat-elevation-z4">
        <h3 class="title">{{trip.title}}</h3>
        <img class="card__image" src="{{getFirstPicture(trip)}}" alt="{{trip.title}}">

        <mat-card-content>
          <details>
            <summary ng-hide="advstatus">
              {{trip.description | slice:0:50}}
              <span class="badge badge-light" ng-click="advstatus=true">(...)</span>
            </summary>
            <p>{{trip.description}}</p>
          </details>
          <mat-card-actions>
            <button routerLink="/trips/display/{{trip._id}}" class="mdc-button mdc-button--raised">
              <mat-icon>pageview icon</mat-icon>
            </button>
            <button *ngIf="isManager && checkManagerId(trip.managerID)" routerLink="/trips/{{trip._id}}" class="edit-trip">
              <mat-icon>edit</mat-icon>
            </button>
            <button mat-raised-button *ngIf="trip.cancelReason" class="btn-cancelled" type="button"
              (click)="showReasonCancel(trip)">
              {{msg["cancelled-trip"]}}</button>
          </mat-card-actions>
        </mat-card-content>
      </mat-card>
    </div>
  </div>
</div>