.flex-stretch {
  flex: 1 0 auto;
}

.toggle-form {
  margin-left: 1em;
  margin-right: 1em;
  align-items: flex-start;
  width: 5em;
  margin-top: 1em;
}
.toggle {
    margin-right: 0.5rem;
    margin-left: 0.5rem;
    margin-bottom: 1em;
}