.footer {
  width: 100%;
  background-color: #1565c0;
  color: #ffffff;
  box-shadow: 1px 1px 5px #000;
  height: min-content;
  padding-bottom: 0.5vh;
}

.link {
  color: #ffffff;
}

.title {
  padding-top: 1em;
  font-size: 1.5rem;
  margin-left: 1%;
}

.subtitle {
  font-size: 1.3rem;
}

.resume {
  text-align: justify;
}

.wrapper {
  display: flex;
  flex-flow: row wrap;
  justify-content: space-around;
}

.column1 {
  flex-basis: 40%;
  margin-right: 2%;
  margin-bottom: 2%;
}

.column2 {
  flex-basis: 20%;
  margin-left: 5%;
  margin-bottom: 2%;
}

.column3 {
  flex-basis: 20%;
  margin-left: 2%;
  margin-right: 2%;
  margin-bottom: 2%;
  .flag_image {
    width: 120px;
    height: 120px;
  }
}

.column4 {
  flex-basis: 5%;
  margin-bottom: 2%;
}

.Footerstyle__IconContainer {
  width: 25px;
  size: 25px;
  margin-right: 0px;
}
