<mat-card class="forms__card">
    <form [formGroup]="profileForm" (submit)="onSubmit()">

        <mat-card-title class="forms__title">{{msg["edit-profile"]}}</mat-card-title>

        <!-- Name -->
        <mat-form-field appearance="outline" class="forms__form-field">
            <mat-label>{{msg.name}}</mat-label>
            <input matInput formControlName="name">
            <mat-error *ngIf="profileForm.controls.name.touched && profileForm.controls.name.invalid">
                <span class="forms__error"
                    *ngIf="profileForm.controls.name.errors?.required">{{msg["required-field"]}}</span>
            </mat-error>
        </mat-form-field>

        <!-- Surname -->
        <mat-form-field appearance="outline" class="forms__form-field">
            <mat-label>{{msg.surname}}</mat-label>
            <input matInput formControlName="surname">
            <mat-error *ngIf="profileForm.controls.surname.touched && profileForm.controls.surname.invalid">
                <span class="forms__error"
                    *ngIf="profileForm.controls.surname.errors?.required">{{msg["required-field"]}}</span>
            </mat-error>
        </mat-form-field>

        <!-- Email -->
        <mat-form-field appearance="outline" class="forms__form-field">
            <mat-label>{{msg.email}}</mat-label>
            <input matInput formControlName="email" type="email">
            <mat-error *ngIf="profileForm.controls.email.touched && profileForm.controls.email.invalid">
                <span class="forms__error"
                    *ngIf="profileForm.controls.email.errors?.required">{{msg["required-field"]}}</span>
                <span class="forms__error"
                    *ngIf="profileForm.controls.email.errors?.email">{{msg["email-validation"]}}</span>
            </mat-error>
        </mat-form-field>

        <!-- Password match errors -->
        <mat-error class="validation-error-text" *ngIf="profileForm.hasError('passwordsDontMatch')">{{msg["passwords-dont-match"]}}
        </mat-error>

        <!-- Password -->
        <mat-form-field appearance="outline" class="forms__form-field">
            <mat-label>{{msg.password}}</mat-label>
            <input matInput formControlName="password" type="password">
            <mat-error *ngIf="profileForm.controls.password.touched && profileForm.controls.password.invalid">
                <span class="forms__error"
                    *ngIf="profileForm.controls.password.errors?.required">{{msg["required-field"]}}</span>
                <span class="forms__error"
                    *ngIf="profileForm.controls.password.errors?.minlength">{{msg["minimum-5"]}}</span>
            </mat-error>
        </mat-form-field>

        <!-- Repeat password -->
        <mat-form-field appearance="outline" class="forms__form-field">
            <mat-label>{{msg["repeat-password"]}}</mat-label>
            <input matInput formControlName="repeatPassword" type="password">
            <mat-error
                *ngIf="profileForm.controls.repeatPassword.touched && profileForm.controls.repeatPassword.invalid">
                <span class="forms__error"
                    *ngIf="profileForm.controls.repeatPassword.errors?.required">{{msg["required-field"]}}</span>
                <span class="forms__error"
                    *ngIf="profileForm.controls.repeatPassword.errors?.minlength">{{msg["minimum-5"]}}</span>
            </mat-error>
        </mat-form-field>

        <!-- Phone number -->
        <mat-form-field appearance="outline" class="forms__form-field">
            <mat-label>{{msg["phone-number"]}}</mat-label>
            <input matInput formControlName="phoneNumber">
            <mat-error *ngIf="profileForm.controls.phoneNumber.touched && profileForm.controls.phoneNumber.invalid">
                <span class="forms__error"
                    *ngIf="profileForm.controls.phoneNumber.errors?.pattern">{{msg["phonenumber-validation"]}}</span>
            </mat-error>
        </mat-form-field>

        <!-- Address -->
        <mat-form-field appearance="outline" class="forms__form-field">
            <mat-label>{{msg.address}}</mat-label>
            <input matInput formControlName="address">
        </mat-form-field>

        <!-- Admin? -->
        <mat-checkbox formControlName="isAdmin" color="primary" class="forms__form-field checkbox">
            {{msg.admin}}</mat-checkbox>

        <!-- Manager? -->
        <mat-checkbox formControlName="isManager" color="primary" class="forms__form-field checkbox">
            {{msg.manager}}</mat-checkbox>

        <!-- Explorer? -->
        <mat-checkbox formControlName="isExplorer" color="primary" class="forms__form-field checkbox">
            {{msg.explorer}}</mat-checkbox>

        <!-- Sponsor? -->
        <mat-checkbox formControlName="isSponsor" color="primary" class="forms__form-field checkbox">
            {{msg.sponsor}}</mat-checkbox>

        <!-- At least one role error -->
        <mat-error class="validation-error-text" *ngIf="profileForm.hasError('oneRoleAtLeast')">{{msg["one-role-at-least"]}}
        </mat-error>

        <!-- Submit button -->
        <div class="forms__submit-button">
            <button mat-raised-button color="accent" class="forms__submit-button" type="submit" [disabled]="!profileForm.valid || loading">{{msg.save}}</button>
            <mat-spinner *ngIf="loading" diameter="35" class="forms__loading-spinner"></mat-spinner>
        </div>
    </form>
</mat-card>
