.wrapper {
    display: flex;
    justify-content: space-between;
}

.app-button {
    font-size: 1.4rem;
    font-style: italic;
}

.button {
    margin-left: 0.5em;
    margin-right: 0.5em;
}

.icon {
    margin-right: 0.5em;
}

.username {
    text-transform: uppercase;
    font-size: 1.25rem;
}

.menu-button {
    font-size: 1.2em;
}

.search-form { 
    min-width: 75px;
    max-width: 200px;
    width: 100%;
    margin-top: 2%;
}

.search-full-width {  
    width: 100%;
}

::ng-deep .mat-form-field-flex > .mat-form-field-infix {
       padding: 0.4em 0px !important;
}
  
 ::ng-deep .mat-form-field-label-wrapper { 
    top: -0.55em;
}

::ng-deep .mat-form-field-appearance-outline.mat-form-field-can-float.mat-form-field-should-float 
.mat-form-field-label {
    transform: translateY(-0.01em) scale(.75);
    width: 133.33333%;
}