<mat-toolbar color="primary" class="wrapper">
    <div class="wrapper">
        <button mat-button routerLink="/" class="app-button">
            <span class="icon">✈️</span>
            {{msg["app-title"]}}
        </button>
        <app-finder></app-finder>
    </div>

    <div class="wrapper">
        <app-language-selector></app-language-selector>

        <button *ngIf="loggedActorName !== null;else loginButtons" color="primary" class="button username"
            mat-raised-button [matMenuTriggerFor]="menu">{{loggedActorName}}</button>

        <mat-menu #menu="matMenu">
            <button mat-menu-item class="menu-button" routerLink="/profile">
                <mat-icon>account_circle</mat-icon>
                {{msg["edit-profile"]}}
            </button>
            <button *ngIf="isAdmin" mat-menu-item class="menu-button" routerLink="/admin/dashboard">
                <mat-icon>assessment</mat-icon>
                {{msg.stats}}
            </button>
            <button mat-menu-item class="menu-button" (click)="logout()">
                <mat-icon>exit_to_app</mat-icon>
                {{msg.logout}}
            </button>
        </mat-menu>
    </div>
</mat-toolbar>

<ng-template #loginButtons>
    <div class="wrapper">
        <button color="accent" class="button" mat-raised-button routerLink="/register">{{msg.register}}</button>
        <button color="accent" class="button" mat-raised-button routerLink="/login">{{msg.login}}</button>
    </div>
</ng-template>