<mat-toolbar color="primary" class="wrapper">
    <button mat-button routerLink="/" class="app-button">
        <span class="icon">✈️</span>
        {{appName}}
    </button>
    <app-finder></app-finder>
    <div>
        <app-language-selector></app-language-selector>

        <button *ngIf="loggedActorName !== null;else loginButtons" color="primary" class="button username"
            mat-raised-button [matMenuTriggerFor]="menu">{{loggedActorName}}</button>

        <mat-menu #menu="matMenu">
            <button mat-menu-item class="menu-button" routerLink="/profile">
                <mat-icon>account_circle</mat-icon>
                {{editProfileText}}
            </button>
            <button mat-menu-item class="menu-button" (click)="logout()">
                <mat-icon>exit_to_app</mat-icon>
                {{logoutText}}
            </button>
        </mat-menu>
    </div>
</mat-toolbar>

<ng-template #loginButtons>
    <button color="accent" class="button" mat-raised-button routerLink="/register">{{registerText}}</button>
    <button color="accent" class="button" mat-raised-button routerLink="/login">{{loginText}}</button>
</ng-template>