$bg-color: #1565c0;

.wrapper {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    height: 100%;
}

.advancedSearch-button {
    font-size: 0.8rem;
}

.sidenav {
    display: flex;
    flex-flow: row wrap;
    background-color: lighten($bg-color, 20%);
    width: 20em;
}

.menu-title {
    margin-top: 0.5em;
    margin-bottom: 0.5em;
    margin-right: auto;
    margin-left: auto;
    padding-bottom: 0.25em;
    display: block;
    text-align: center;
    text-transform: uppercase;
    font-weight: 400;
    width: 95%;
    border-bottom: 2px solid $bg-color;
}

.background {
    background-image: url("../../../assets/images/bg.png");
    min-height: 100%;
    background-repeat: repeat-x;
}

.app-button {
    font-size: 1.4rem;
    font-style: italic;
}

.button {
    margin-left: 0.5rem;
    margin-right: 0.5rem;
    margin-top: 0.6rem;
    height: 2.5rem;
}

.icon {
    margin-right: 0.5rem;
}

.username {
    text-transform: uppercase;
    font-size: 1.25rem;
    margin-top: 1.1rem;
}

.menu-button {
    font-size: 1.2rem;
    flex-basis: 100%;
    padding-right: 2em;
    padding-left: 2em;
    margin-top: 0.4em;
    margin-bottom: 0.4em;
}

@media screen and (max-width: 629px) {
    .wrapper {
        justify-content: space-around;
    }
}

@media screen and (max-width: 406px) {
    .wrapper {
        padding-bottom: 0.5rem;
    }
}
