.card {
    margin: 5%;
    border-radius: 2em;
    box-shadow: 2px 2px 2px 1px rgba(0, 0, 0, 0.4);
    background-color: rgba(#fff, 0.8);
    border: 2px solid #222;
}

.title {
    margin-bottom: 1.2em;
    padding-top: 0.8em;
    padding-bottom: 0.8em;
    margin-right: 10%;
    margin-left: 10%;
    border-bottom: 2px solid #ccc;
    text-align: center;
    font-weight: 300;
    font-size: 2rem;
}

.cube-button {
    margin: 0 auto;
    width: 30em;
    max-width: 60%;
    background-color: #4CAF50;
    display: block;
    margin-bottom: 4em;
}

.forms-wrapper {
    display: flex;
    flex-flow: row wrap;
    justify-content: space-around;
}

.form {
    flex-basis: 50%;
}

.form-title {
    margin-bottom: 1.2em;
    padding-top: 0.8em;
    padding-bottom: 0.8em;
    margin-right: 20%;
    margin-left: 20%;
    border-bottom: 2px solid #ccc;
    text-align: center;
    font-weight: 300;
    font-size: 1.2rem;
}

.form-fields {
    display: flex;
    flex-flow: row wrap;
    justify-content: space-evenly;
}

.query-result {
    padding-top: 2em;
    font-size: 1.4rem;
    margin-right: 20%;
    margin-left: 20%;
}

.submit-button {
    display: flex;
    flex-flow: row wrap;
    justify-content: center;
}

.result-number {
    font-size: 1.5rem;
    text-align: center;
    font-weight: 400;
}

.result-users-wrapper {
    display: flex;
    flex-flow: row wrap;
    justify-content: space-between;
}

.result-user {
    flex-basis: 20%;
    font-size: 1.1rem;
    text-align: center;
    font-weight: 400;
    border-radius: 1.2em;
    border: 1px solid #999;
    padding-top: 0.6em;
    padding-bottom: 0.2em;
    background-color: rgba(#00BCD4, 0.5);
    box-shadow: 2px 2px rgba(#555, 0.4);
}

.user-name {
    font-size: 1.4rem;
    font-weight: 500;
    text-transform: capitalize;
}
