.app-button {
    font-size: 1.4rem;
}

.button {
    margin-left: 0.5em;
    margin-right: 0.5em;
}

.icon {
    margin-right: 0.5em;
}

.search-form {
    margin-left: 4em;
    margin-right: 2em;
    width: 12em;  
    margin-top: 0.1em;
}

.search-full-width {  
    width: 100%;
}

@media screen and (max-width: 406px) {
    .search-form {
        margin-left: 0;
        margin-right: 0;
        width: 8em;
    }
}
