@import "../../../shared/styles/forms.scss";

.checkbox {
    // color: #000;
    font-size: 1.1em;
}

.password-match {
    margin-left: 21%;
    color: $forms__errorColor;
}

.validation-error-text {
    margin-left: 21%;
    padding-top: 5%;
    color: $forms__errorColor;
}
