.content {
    padding: 16px;
}
.mat-card{
    width: 300px;
    margin-bottom: 16px;
    margin-left: 16px;
    padding: 16px;
}
.card__image{
    width: 300px;
}

.content > mat-card {
    width: 20px;
    margin-bottom: 16px;
}

.column-label {
    margin-right: 8px;
    font-size: 1rem;
}

