<mat-card class="forms__card">
    <form [formGroup]="tripForm" (submit)="onSubmit()">

        <mat-card-title class="forms__title">{{newTripFormText}}</mat-card-title>

        <!-- Title -->
        <mat-form-field appearance="outline" class="forms__form-field">
            <mat-label>{{title}}</mat-label>
            <input matInput formControlName="title" required>
            <mat-error *ngIf="tripForm.controls.title.touched && tripForm.controls.title.invalid">
                <span class="forms__error"
                    *ngIf="tripForm.controls.title.errors?.required">{{requiredFieldText}}</span>
            </mat-error>
        </mat-form-field>

        <!-- Description -->
        <mat-form-field appearance="outline" class="forms__form-field">
            <mat-label>{{description}}</mat-label>
            <input matInput formControlName="description" required>
            <mat-error *ngIf="tripForm.controls.description.touched && tripForm.controls.description.invalid">
                <span class="forms__error"
                    *ngIf="tripForm.controls.description.errors?.required">{{requiredFieldText}}</span>
            </mat-error>
        </mat-form-field>

        <!-- Precio -->
        <mat-form-field appearance="outline" class="forms__form-field">
            <mat-label>{{price}}</mat-label>
            <input matInput formControlName="price">
                <mat-error *ngIf="tripForm.controls.price.touched && tripForm.controls.price.invalid">
                    <span class="forms__error"
                    *ngIf="tripForm.controls.price.errors?.required">{{requiredFieldText}}</span>
            </mat-error>
        </mat-form-field>


        <mat-form-field appearance="outline" class="forms__form-field">
            <!-- StartDate -->
            <mat-label>Dates</mat-label>
                  <mat-label for="startDate">{{startDate}}</mat-label>
                  <input matInput type="date" name="startDate" formControlName="startDate"
                  placeholder="{{startDate}}" required>
            <!-- EndDate -->
                  <mat-label for="endDate">{{endDate}}</mat-label>
                  <input matInput type="date" name="endDate" formControlName="endDate"
                  placeholder="{{endDate}}" required>
          </mat-form-field>
       
    
        <!-- Requirements -->   
        <mat-form-field appearance="outline" class="forms__form-field">
              <mat-label for="requeriments">{{addRequerimentsText}}</mat-label>
            <div formArrayName="requeriments"
              *ngFor="let requeriment of getControls(tripForm, 'requeriments'); let i = index;">
              <div [formGroupName]="i">
                    <input matInput formControlName="requeriments">
                  <button mat-raised-button type="button" (click)="removeReq(i)">x</button>
              </div>
            </div>
            <button mat-raised-button type type="button" (click)="addRequeriments()">+</button>
            </mat-form-field>
        
        <!-- Stages --> 
        <mat-form-field appearance="outline" class="forms__form-field">
            <mat-label for="stages">{{stagesText}}</mat-label>
          <div formArrayName="stages"
            *ngFor="let requeriment of getControls(tripForm, 'stages'); let i = index;">
            <div [formGroupName]="i">
                  <input matInput formControlName="stages">
                <button mat-raised-button type="button" (click)="removeStage(i)">x</button>
            </div>
          </div>
          <button mat-raised-button type type="button" (click)="addStage()">+</button>
        </mat-form-field>
        <!-- Pictures -->

        <!-- Submit button -->
        <button mat-raised-button color="accent" class="forms__submit-button" type="submit"
            [disabled]="!tripForm.valid">{{saveText}}
        </button>

    </form>
</mat-card>
