<mat-card class="forms__card">
    <mat-card-title class="forms__title">{{msg.preferences}}</mat-card-title>
    <mat-card-content>

        <div class="col1">
            <div class="labels">
                <label mat-label>{{msg.thema}}</label>
            </div>
            <div class="labels">
                <label mat-label> {{msg.fontSize}} </label>
            </div>
            <div class="labels">
                <label mat-label> {{msg.fontFamily}}</label>
            </div>
            <div class="labels">
                <label mat-label> {{msg.current}} </label>
            </div>
        </div>

        <div class="col2">
            <div class="options">
                <app-theme-switch></app-theme-switch>
            </div>
            <div class="options">
                <app-size-selector></app-size-selector>
            </div>
            <div class="options">
                <app-font-selector></app-font-selector>
            </div>
            <div class="options">
                <app-current-selector></app-current-selector>
            </div>
        </div>

    </mat-card-content>
</mat-card>