
.container{
    background-color: rgb(24, 196, 248);
}
.card-header{
    text-align: center;
    font-size: 48;
}

#carouselExampleControls2 {
    height: 10rem;
}

.carousel-item > img {
    height: 30rem;
}

