<div class="trip">
  <div>
  <h3 class="title">{{trip.title}}</h3>
  <!-- boton solicitar -->
<div class="btn-apply">
  <div *ngIf="trip != undefined"></div>
  <button mat-raised-button color="accent" (click)="onApply(trip._id!)" id="applybutton" class="btn btn-primary">
    {{apply}}
  </button>
</div> 
</div>

<mat-card>
  <h3 class="card-title The-explorer-4-hex">Ticker: {{trip.ticker}}</h3>
</mat-card>

<mat-card>
  <h3 class="card-title The-explorer-4-hex">{{price}}: {{trip.price}}&euro;</h3>
</mat-card>

<mat-card>
  <h3>{{trip.description}}</h3>
</mat-card>

<mat-card>
  <h3>{{startDate}}: {{trip.startDate | date:"MM/dd/yy - hh:mm:ss"}}</h3>
  <h3>{{endDate}}: {{trip.endDate | date:"MM/dd/yy - hh:mm:ss"}}</h3>
</mat-card>

<!-- requeriments -->

<mat-card *ngIf= "trip.requeriments != null">
  <ul *ngFor="let requeriment of trip.requeriments">
    <li>{{requeriment}}</li>
  </ul>
</mat-card>

<!-- stages -->
<mat-card>
<mat-accordion>
  
  <mat-expansion-panel class="accordion" *ngFor="let stage of trip.stages">
      <mat-expansion-panel-header>
          <mat-panel-title><b>{{stage.title}}</b>
          </mat-panel-title>
          <mat-panel-description class="panel-description">
          </mat-panel-description>
      </mat-expansion-panel-header>
      <div class="panel-content">
        <p class="content-section" class="content">{{stage.description}}</p>
        <p class="content-section" class="content">{{stage.price}}&euro;
        </p>
      </div>
  </mat-expansion-panel>
</mat-accordion>
</mat-card>

  <!-- pictures -->
  <div id="myCarousel" *ngIf="trip.pictures.length > 0" class="carousel slide" data-ride="carousel">

  <ol class="carousel-indicators">
    <div class="carousel-item">
      <li data-target="#myCarousel" data-slide-to="i+1" *ngFor="let picture of trip.pictures; let i = index" class="active"></li>
    </div>
  </ol>

  <!-- Wrapper for slides -->
  <div class="carousel-inner">
    <div *ngFor="let picture of trip.pictures; let i = index" class="carousel-item">
      <img class="d-block " src="{{getPicture(i)}}" alt="First slide">
    </div>
  </div>
  <img *ngIf="pictures.length === 0"
    class="card-img-top img-fluid" style="width: 200px; display: block;"
    src="https://i.ya-webdesign.com/images/image-not-available-png-3.png" alt="{{trip.title}}">

  <!-- Left and right controls -->
  <a class="left carousel-control" href="#myCarousel" data-slide="prev">
    <span class="glyphicon glyphicon-chevron-left"></span>
    <span class="sr-only">Previous</span>
  </a>
  <a class="right carousel-control" href="#myCarousel" data-slide="next">
    <span class="glyphicon glyphicon-chevron-right"></span>
    <span class="sr-only">Next</span>
  </a>
</div>
<br/>

  <!-- Sponsor 
  <div class="card-body">
    <h5 class="card-title The-explorer-4-hex">{{'sponsor.sponsors'}}</h5>
    <div id="carouselExampleControls2" *ngIf="this.sponsorships.length > 0" class="carousel slide" data-ride="carousel">
      <div class="carousel-inner">
        <div *ngFor="let sponsor of this.sponsorships; let i = index" class="carousel-item {{(i==0)? 'active':''}}">
          <img class="d-block " src="{{sponsor.banner}}" alt="First slide">
        </div>
      </div>
      <a class="carousel-control-prev" href="#carouselExampleControls2" role="button" data-slide="prev">
        <span class="carousel-control-prev-icon" aria-hidden="true"></span>
        <span class="sr-only">Previous</span>
      </a>
      <a class="carousel-control-next" href="#carouselExampleControls2" role="button" data-slide="next">
        <span class="carousel-control-next-icon" aria-hidden="true"></span>
        <span class="sr-only">Next</span>
      </a>
    </div>
  </div>
</div> -->
</div> 
<br/>

<!-- Calling jquery first -->
<script language="JavaScript" type="text/javascript" src="scripts/jquery.js"></script>
<script language="JavaScript" type="text/javascript" src="scripts/bootstrap.min.js"></script>
  <!-- Carousel -->
<script language="JavaScript" type="text/javascript">
  $(document).ready(function(){
    $('.carousel').carousel({
      interval: 3000
    })
  });    
</script>  


