@import "../../shared/styles/forms.scss";

.spinner {
    margin: 0 auto;
    margin-bottom: 2em;
}

.message {
    margin-top: 2.5em;
    margin-bottom: 2em;
    padding-bottom: 0.8em;
    padding-top: 0.8em; 
    text-align: center;
    font-weight: 500;
    font-size: 1.4rem;
}

.message-cancelled {
    color: #f44336;
}

.button {
    display: block;
    margin: 0 auto;
    margin-bottom: 2em;
}
