<mat-card class="forms__card">
    <mat-card-title  class="message forms__title" *ngIf="state == PaymentState.LOGGING_IN">{{msg["payment-logging-in"]}}</mat-card-title >
    <mat-card-title  class="message forms__title" *ngIf="state == PaymentState.PAYING">{{msg["payment-paying"]}}</mat-card-title >
    <mat-card-title  class="message forms__title message-cancelled" *ngIf="state == PaymentState.CANCELLED">{{msg["payment-cancelled"]}}</mat-card-title >
    <mat-card-title  class="message forms__title" *ngIf="state == PaymentState.DONE">{{msg["payment-done"]}}</mat-card-title >
    <mat-card-title  class="message forms__title" *ngIf="state == PaymentState.ERROR">{{msg["payment-error"]}}</mat-card-title >
    <mat-spinner *ngIf="state == PaymentState.LOGGING_IN || state == PaymentState.PAYING" diameter="35" class="spinner">
    </mat-spinner>
</mat-card>


<button color="accent" class="button"
    *ngIf="state == PaymentState.CANCELLED || state == PaymentState.DONE || state == PaymentState.ERROR"
    mat-raised-button routerLink="/applications">{{msg["go-back"]}}</button>