@import "~@angular/material/theming";
@include mat-core();

$primary: mat-palette($mat-blue, 800);
$accent: mat-palette($mat-deep-purple, 400);
$warn: mat-palette($mat-orange, 400);

$dark-primary: mat-palette($mat-blue, 900);
$dark-accent: mat-palette($mat-deep-purple, 700);
$dark-warn: mat-palette($mat-orange, 700);

$light-theme: mat-light-theme($primary, $accent, $warn);

$dark-theme: mat-dark-theme($dark-primary, $dark-accent, $dark-warn);

$monospace-font: mat-typography-config(
  $font-family: "monospace",
);

$oswald-font: mat-typography-config(
  $font-family: "Oswald",
);
 
.Monospace {
  @include mat-core($monospace-font);
}

.Oswald {
  @include mat-core($oswald-font);
}
 